@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin posabs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}




//media queries
/*
0-600px: Mobile only

600px - 900px: Tablet portrait

900px - 1200px: Tablet Landscape

1200px  - 1800px: Desktop(default- desktop first)

1800 and above:  Large Desktop

*/


// @mixin respond-phone {
//     @media (max-width: 600px ) {
//        @content 
//     }
// }

//em and rem in media query is not affected by root font , it gets directly gets the value from browser
@mixin respond($breakpoint){
    @if ($breakpoint == phone) {
        @media (max-width: 37.5em) {
            @content
        }; //600px 600/16
    }

    @if ($breakpoint == tab-port) {
        @media (max-width: 56.25em ) {
            @content
        }; //900px
    }
    @if ($breakpoint == tab-land) {
        @media (max-width: 75em) {
            @content
        };//1200px
    }

    @if ($breakpoint == large-desktop) {
        @media (min-width: 112.5em) {
            @content
        };//1800px
    }
}